Package: com.wwg135.leisu
Name: Photo
Version: 1.0.0
Description: 雷速体育功能隐藏，无设置选项，自己选择使用。
Homepage: https://github.com/wwg135
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Priority: optional
Maintainer: wwg135
Author: wwg135
Architecture: iphoneos-arm
